body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: grey;
    touch-action: none;
}
#is_mobile {
    position: absolute;
    bottom: 50%;
    left: -1000px;
    visibility: hidden;
}
.screen_container {
    background: black;
    width: 75%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    border: 1px dashed silver;
}
.screen_container img {
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.screen-cover {
    width: inherit;
    height: 99.9%;
    position: absolute;
}
